header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 0;
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style-type: circle;
}

.header__links-list-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  letter-spacing: 1%;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__logo {
  width: 138px;
  height: 105px;
}

.address {
  max-width: 240.52px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  letter-spacing: 0.01em;
  text-underline-offset: 3px;
}

.header__address {
  justify-self: end;
}

.cover {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-height: 757px;
  margin: 93px 0 0 0;
  color: rgb(255, 255, 255);
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 165px 50px 0;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  inset: 0;
  z-index: -1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: center;
  gap: 20px;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0.3em;
}

.aligned-text:first-child {
  line-height: 115px;
}

.aligned-text {
  display: block;
  text-align: left;
}

.aligned-text_center {
  display: block;
  text-align: center;
}

.aligned-text_right {
  display: block;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  margin-top: 137px;
  z-index: 1;
  gap: 79px;
}

.cover__description-text {
  text-transform: uppercase;
  font-size: 22px;
  word-spacing: 18px;
  color: rgb(255, 255, 255);
}

.bet-button {
  padding: 12px 32px;
  background-color: transparent;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(255, 255, 255);
  border: 1px solid currentColor;
}

.lots {
  position: relative;
  padding: 178px 24px 0;
}

.lots__heading {
  padding: 0 0 0 40px;
  font-size: 40px;
  line-height: 47px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 25px;
  margin: 27px 0 30px 0;
  list-style: none;
}

.lots__card-list-item {
  min-height: 560px;
  width: 334px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 51px 40px 48px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  z-index: 1;
}

.card__text {
  font-size: 20px;
  line-height: 24px;
  z-index: 1;
  color: rgb(255, 255, 255);
}

.lots__look-more-link {
  padding: 0 0 0 40px;
  font-size: 20px;
  line-height: 24px;
}

.about {
  display: flex;
  margin: 146px 0 0 0;
  padding: 0 24px;
}

.about__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 35px 0 0 47px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0);
}

.about__logo-image {
  display: flex;
  width: 148px;
  height: 114px;
}

.about__column {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 148px 0 0 72px;
  width: 746px;
  gap: 113px;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 24px;
}

.about__title {
  display: flex;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 179px 50px 0;
}

.footer__menu {
  display: flex;
  font-size: 18px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
