header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 92px 24px 2831px 24px;
    width: 1052px;
    height: 105px;
}

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 391.48px;
    height: 22px;
    list-style-type: circle;
    font-size: 18px;
    margin-right: 36px;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__logo {
    width: 148px;
    height: 105px;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 240.52px;
    height: 98px;
    font-size: 18px;
    margin-left: 184px;
    margin-bottom: 5px;
}