header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 0;
}

.header__menu {
  
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style-type: circle;
}
.header__links-list-item {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  /* text-align: left; */
  letter-spacing: 1%;
}
.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__logo {
  width: 129px;
  height: 105px;
}

.address {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; */
  max-width: 240.52px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  letter-spacing: 0.01em;
}

.header__address {
    justify-self: end;
}